/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.neutral-star {
    color: rgb(231, 231, 231);
}

body {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    margin: auto; 
}

a {
    text-decoration: none;
    color: black;
}

.section-title {
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px !important;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}


/****** HEADER ***********/

/****** Menu/Nav ***********/
.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-booki img {
    width: 61.09px;
    height: auto;
    margin-top: 30px;
}

.logo-booki img:hover {
    cursor: pointer;
}

.header-menu a {
    color: black;
    text-decoration: none;
    margin-left: 100px;
    border-top: 2px transparent solid;
}

.header-menu a:hover {
    color: #0065FC;
    padding-top: 15px;
    border-top: 2px #0065FC solid;
}


/****** Description ***********/
.headline {
    margin-top: 60px;
}

/****** Search-bar ***********/
.search-bar {
    margin-top: 50px;
    margin-bottom: 50px;
}

.search-bar-form {
    display: flex;
    align-items: center;
}

.fa-location-dot {
    color: #000;
    font-size: larger;
    background-color: #F2F2F2;
    padding: 16px 18px 16px 18px;
    border-radius: 16px 0px 0px 16px;
}

.fa-location-dot:hover {
    cursor: pointer;
}

.search-city {
    font-size: large;
    font-weight: 600;
    border-top: 1px #F2F2F2 solid;
    border-right: none;
    border-bottom: 1px #F2F2F2 solid;
    border-left: none;
    padding: 14px 0px 14px 14px;
}

.search-city::placeholder {
    color: black !important;
    opacity: 1;
}

.search-button {
    color: white;
    font-size: large;
    font-weight: 600;
    background-color: #0065FC;
    border: none;
    border-radius: 0px 15px 15px 0px;
    padding: 15px;
}

.search-button:hover {
    cursor: pointer;
}

/* Search_icon button*/
.search_icon {
    display: none;
    height: 50px;
    width: 17%;
    background-color: #0065FC;
    border: none;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.30);
}

.search_icon:hover {
    cursor: pointer;
}

.fa-magnifying-glass {
    color: white;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}


/****** Filtres ***********/
.filter-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.filter-title {
    padding-right: 15px;
}

.filter-tags {
    display: flex;
    gap: 20px;
}

.tags-border {
    border: 2px #D9D9D9 solid;
    width: 150px;
    border-radius: 25px;
    padding-right: 20px;
}

.tags-border:hover {
    cursor: pointer;
    border: 2px #D9D9D9 solid;
    border-radius: 25px;
    padding-right: 20px;
    background-color: #DEEBFF;
}

.tags {
    font-weight: 600;
}

.fa-money-bill-wave {
    padding-left: 19px;
    padding-right: 10px;
}

.fa-person {
    padding-left: 19px;
    padding-right: 10px;
}

.fa-heart {
    padding-left: 19px;
    padding-right: 10px;
}

.fa-fire {
    padding-left: 19px;
    padding-right: 10px;
}

/****** Info-bulle ***********/
.fa-info {
    border: 1px #D9D9D9 solid;
    border-radius: 50%;
    padding: 5px 10px 5px 10px;
    margin: 20px 5px 20px 0px;
}

.info-bulle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}

/****** Hebergements and populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    padding-top: 10px;
}

.hebergements-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.hebergements-cards .card {
    margin-top: 20px;
    width: 30%;
}

.hebergements-cards img {
    width: 100%;
    height: 110px;
    border-radius: 20px 20px 0px 0px;
}

.hebergements-cards .card-content {
    padding-left: 7px;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    display: flex;
    flex-direction: column;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 4px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.complementary-text {
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.complementary-text:hover {
    cursor: pointer;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.populaires-cards .card {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.populaires-cards .card:hover {
    cursor: pointer;
}

.populaires-cards img {
    width: 38%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

.populaires-cards .card-title {
    margin-top: 10px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-top: 55px;
}

.populaires-cards .card-rating-star {
    margin-top: 35px;
}


/****** Activites ***********/

.activites-grid-container {
    display: flex;
    justify-content: space-between;
}

.activites-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.activites-grid-container .card {
    width: 23.5%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 20px;
    padding: 0px !important;
    overflow: hidden;
}

.activites-grid-container img {
    width: 100%;
    height: 430px;
}

.activites-grid-container .card-content {
    padding: 15px;
}

.activites-grid-container .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

/****** Footer ***********/
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    padding: 10px 100px 10px 30px;
    box-sizing: border-box;
    margin-top: 50px;
}

.footer h3:hover {
    cursor: pointer;
}

.footer p:hover {
    cursor: pointer;
}





/****** MEDIA QUERIES ***********/





/****** Medium devices (tablets, less/equal than 1024px) ***********/
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .header-menu {
        margin-left: 20px;
        margin-right: 20px;
    }

    .menu {
        margin-left: 20px;
        margin-right: 20px;
    }

    .search-bar {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .filter-bar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0px !important;
    }

    .info-bulle {
        padding-bottom: 15px;
    }

    /****** Hebergements ***********/
    .hebergements {
        width: 100%;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hebergements-cards .card {
        width: 30%;
    }

    .hebergements-cards .card-title {
        font-size: 14px;
    }

    .hebergements-cards .card-subtitle {
        font-size: 13px;
    }

    /****** Populaires ***********/
    .populaires {
        width: 100%;
        margin-top: 30px;
    }

    .populaires-cards {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-content {
        height: 90%;
        padding-top: 15px;
    }

    .populaires-cards .card-title {
        margin-top: 0px !important;
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
        margin: 0;
    }

    .populaires-cards .card-rating {
        margin-top: 33px;
    }

    .populaires-cards .card-rating-star {
        margin-top: 15px;
    }

    /****** Activites ***********/
    .activites-title {
        padding-left: 10px;
    }

    .activites-grid-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .activites-grid-container img {
        height: 240px;
    }

    .activites-grid-container .card-content {
        padding: 5px 0px 0px 15px;
    }

    .activites-grid-container .card-title {
        margin-top: 10px;
        margin-bottom: 7px;
    }
}



/****** Small devices (phones, less than 768px) ***********/
@media (max-width: 767.98px) {
    .header-menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0px !important;
    }

    .nav {
        padding-top: 40px;
    } 

     .nav a {
        padding-left:60px;
        padding-right: 60px; 
    } 

    .header-menu a {
        margin-left: 0px;
        border-top: 0px transparent solid;
        padding-bottom: 20px;
        border-bottom: 2px lightgray solid;
    }

    .header-menu a:hover {
        padding-top: 0px;
        border-top: 0px transparent;
        padding-bottom: 20px;
        border-bottom: 2px #0065FC solid;
    }
    

    /****** Menu/Nav ***********/
/* .header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-booki img {
    width: 61.09px;
    height: auto;
    margin-top: 30px;
}

.logo-booki img:hover {
    cursor: pointer;
}

.header-menu a {
    color: black;
    text-decoration: none;
    margin-left: 100px;
    border-top: 2px transparent solid;
}

.header-menu a:hover {
    color: #0065FC;
    padding-top: 15px;
    border-top: 2px #0065FC solid;
} */


    .search-button {
        display: none;
    }

    .search_icon {
        display: flex;
        width: 48px;
        height: auto;
    }

    /****** Filtres ***********/
    .filter-bar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 0px !important;
        margin-left: 0px !important;
    }

    /****** Hebergements and populaires ***********/
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0%;
    }

    /****** Populaires ***********/
    .populaires {
        width: 100%;
        padding-bottom: 20px;
    }

    .populaires-cards {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
    }

    .populaires-cards .card {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .populaires-cards .card-rating {
        margin-top: 55px;
    }

    .populaires-cards .card-rating-star {
        margin-top: 37px;
    }

    /****** Hebergements ***********/
    .hebergements {
        width: 100%;
        background-color: white !important;
    }

    .hebergements-cards {
        flex-direction: column;
    }

    .hebergements-title {
        font-size: 19px;
    }

    .hebergements-cards .card {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /****** Activites ***********/
    .activites-grid-container {
        flex-direction: column;
        padding: 0px 20px;
    }

    .activites-grid-container .card {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .activites-grid-container img {
        height: 170px;
    }

    .activites-grid-container .card-content {
        padding: 15px;
    }

    .activites-grid-container .card-title {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    /****** Footer ***********/
    .footer {
        flex-direction: column;
    }



}